<style>
    .acc:hover{background-color:#8f8f8f; border-color:#8f8f8f; color:#e6e6e6;}
    .ft {
        font-family: Rubik, 'NanumSquareRoundR';
        font-weight: bold;
        line-height: 1;
        font-size: 16px;
        text-align: center;
        word-break: keep-all;
        color: #ffffff;
    }
    </style>

<div id="embed">
    <center><p style="        font-size: 14px;
        font-weight:bold;
        font-family: NanumSquareRoundR;
        word-break: break-all;
">유튜브에서 도움이 되는 정보를 확인해보세요. <p></center>
    
    <form action=" " method="post" id="form" name="form" target="_blank">
        <!--
        <div class="form-group">
            <label for="member_email"><b>Email address</b></label>
            <input class="form-field" placeholder="Your email address..."
                   type="email" name="member[email]" id="member_email">
        </div>
        <br> -->
        <div class="form-actions">
            <input type="button" onclick="window.open('about:blank').location.href='https://www.youtube.com/channel/UCjY4R0fpuEQl2kh9iHn55QA?sub_confirmation=1' " value="SUBSCRIBE" name="member[subscribe]" 
                   class="ft acc btn btn-primary btn-lg btn-block" id="member_submit">
        </div>
    </form>
</div>
